:root {
  /* 배경 / 글자색 */
  --background: #ffffff;
  --foreground: #000000;

  /* primary*/
  --primary: #ff0000;

  /* red */
  --red-40: #ff4040;
  --red-30: #ff8d72;
  --red-20: #ffaf9b;
  --red-10: #ffebe7;

  /* blue */
  --blue-20: #0080ff;
  --blue-10: #cce6ff;

  /* green */
  --green-20: #20a81e;
  --green-10: #d4f7d4;

  /* kakao */
  --kakao: #fee500;

  /* grayscale */
  --black: #000000;
  --gray-50: #7d7986;
  --gray-40: #a4a1aa;
  --gray-30: #cbc9cf;
  --gray-20: #e5e4e7;
  --gray-10: #f2f2f3;
  --gray-5: #fafafa;
  --white: #ffffff;

  /* font-sizes */
  --text-h1: 28px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-body1: 16px;
  --text-body2: 14px;
  --text-caption: 12px;
}

/* tailwind 매핑 */
@theme inline {
  /* colors */
  --color-primary: var(--primary);

  --color-red-40: var(--red-40);
  --color-red-30: var(--red-30);
  --color-red-20: var(--red-20);
  --color-red-10: var(--red-10);

  --color-blue-20: var(--blue-20);
  --color-blue-10: var(--blue-10);

  --color-green-20: var(--green-20);
  --color-green-10: var(--green-10);

  --color-kakao: var(--kakao);

  --color-black: var(--black);
  --color-gray-50: var(--gray-50);
  --color-gray-40: var(--gray-40);
  --color-gray-30: var(--gray-30);
  --color-gray-20: var(--gray-20);
  --color-gray-10: var(--gray-10);
  --color-gray-5: var(--gray-5);
  --color-white: var(--white);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* font-sizes */
  --text-h1: var(--text-h1);
  --text-h2: var(--text-h2);
  --text-h3: var(--text-h3);
  --text-h4: var(--text-h4);
  --text-body1: var(--text-body1);
  --text-body2: var(--text-body2);
  --text-caption: var(--text-caption);

  --font-sans: 'Noto Sans KR', sans-serif;
}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
